body{
    background: url(wallpaperflare.com_wallpaper.jpg);
}
li{
    color: cadetblue;
    text-shadow: -1px 2px 3px #000;
    font-size: 30px;
    margin: 3%;
}
p{
    line-height: 30px;
    font-size: 25px;
}


b{
    word-spacing: 10px;
    font-size: 20px;
}
td{
    text-indent: 10px;
    font-size: 30px;
}
h1{
    font-size: 35px ;
    margin-bottom: 5%;
}