h1{
    width: 180px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1,5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}